.main-container {
    width: 200px;
    height: 350px;
    position: absolute;
    top: 20%;
    left: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#outer-circle {
    position: relative;
    width: 200px;
    height: 180px;
    background-color: rgb(255, 16, 16);
    border-radius: 50%;
}

#square {
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, #3498db, #2ecc71, #f1c40f);
    position: relative;
    top: 42px;
    left: 50px;
}

#triangle {
    width: 100px;
    height: 100px;
    position: relative;
    top: 42px;
    left: 50px;
    background: linear-gradient(-90deg, #3498db, #2ecc71, #f1c40f);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
}

#circle {
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, #3498db, #2ecc71, #f1c40f, #e74c3c);
    position: relative;
    top: 42px;
    left: 50px;
    border-radius: 50%;
}

#diamond {
    width: 100px;
    height: 100px;
    background: linear-gradient(90deg, #e74c3c, #e67e22, #f1c40f);
    position: relative;
    top: 42px;
    left: 50px;
    transform: rotateZ(45deg);
}

#rectangle {
    width: 100px;
    height: 60px;
    background: linear-gradient(-90deg, #2ecc71, #f1c40f, #e74c3c);
    position: relative;
    top: 62px;
    left: 50px;
}

button {
    font-family: sans-serif;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 0;
    background-color: #d6dad7;
}